<section class="top-home">
	<a href="/search">
		<div class="top-home-search">输入书名/作者/关键字</div>
	</a>
	<div class="slider-banner">
		<div>
			<a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11518&_t=index.0.sld.1&&from=main">
				<img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01t3HFw4zGY/cRQkpvrTm5bJJB.jpg" />
			</a>
		</div>
	</div>
	<ul class="top-home-btn">
		<li>
			<a href="/female">
				<img class="top-home-icon" src="/static/img/female.png" />
				<p class="top-home-des">女生</p>
			</a>
		</li>
		<li>
			<a href="/male">
				<img class="top-home-icon" src="/static/img/male.png" />
				<p class="top-home-des">男生</p>
			</a>
		</li>
		<li>
			<a href="/category">
				<img class="top-home-icon" src="/static/img/category.png" />
				<p class="top-home-des">分类</p>
			</a>
		</li>
		<li>
			<a href="/rank">
				<img class="top-home-icon" src="/static/img/rank.png" />
				<p class="top-home-des">排行</p>
			</a>
		</li>
	</ul>
</section>